
/* footer background */
.ftbg {
    background-image: linear-gradient(
        to bottom,
        rgba(177, 179, 182, 0.52),
        rgb(0, 0, 0)
      ),
      url("Photo/footerbackground.jpg");
    background-size: 100% 100%;
    width: 100%;
  }
  .timer {
    margin-left: 25%;
  }

  /* calculator css */
  .calc{
    text-align: center;
    margin-left: 25%;
    padding: 2%;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
.calc .btn{
    width: 100%;
}
.calc .btn:hover{
    box-shadow: 0 4px rgba(0,0,0,0.2);
}

/* history css */
.history{
    height: 290px;
    overflow-y: scroll;
}
.history .a{
    list-style-type: none;
}
#answer{
    width: 270px;
    font-size: 26px;
    text-align: center;
    background-color: #f1faeb;
    float: right;
}
/* answer hover effect */
#answer:hover{
    width: 270px;
    font-size: 26px;
    text-align: center;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    background-color: #f1faeb;
}